@import "../../../asset/style/constant.scss";
@import "../../../asset/style/common.scss";

$error-border: #fcdbd9;
$error-background: #fef0ef;

$warning-border: #fff3cf;
$warning-background: #fffaeb;

.n-notice {
  width: 100%;
  padding: $margin-padding-4;
  border-radius: 4px;

  h2 {
    font-size: $font-size-2;
  }
  p {
    font-size: $font-size-1;
    margin-top: 5px;
  }
}

.n-notice-error {
  @extend .n-notice;
  border: $error-border 1px solid;
  background: $error-background;
}

.n-notice-warning {
  @extend .n-notice;
  border: $warning-border 1px solid;
  background: $warning-background;
}