@import "../../../asset/style/constant.scss";
@import "../../../asset/style/common.scss";

$checkbox-size: 16px;

.n-checkbox {

  height: $checkbox-size;
  display: inline-block;

  label {
    float: left;
    line-height: $checkbox-size;
    margin-left: 10px;
  }

  .n-checkbox-container {
    float: left;
    width: $checkbox-size;
    height: $checkbox-size;
    position: relative;
    cursor: pointer;

    input {
      cursor: pointer;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      left: 0;
      top: 0;
      z-index: 10;

      &:checked ~ .n-checkbox-background {
        border: $color-blue 1px solid;
        background: $color-blue;

        i {
          opacity: 1;
        }
      }

    }

    .n-checkbox-background {
      border-radius: 3px;
      border: $line-color-gray 1px solid;
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;

      i {
        opacity: 0;
        display: block;
        color: $font-color-white;
        font-size: 10px;
        line-height: $checkbox-size;
        text-align: center;
        transition: all .4s;
      }
    }

  }

}