@import "../../../asset/style/constant";
@import "../../../asset/style/common";

$size: 30px;

.n-page {

  .n-page-list {

    @include n-clearfix;

    li {
      width: $size;
      height: $size;
      float: left;
      margin-right: $margin-padding-2;
      margin-bottom: $margin-padding-2;

      button {

        width: $size;
        height: $size;
        border: $color-blue 1px solid;
        color: $color-blue;
        margin-right: $margin-padding-2;
        margin-bottom: $margin-padding-2;
        line-height: 30px;
        text-align: center;
        border-radius: $border-radius-2;
        cursor: pointer;

        &:disabled {
          border: $line-color-gray 1px solid;
          i {
            color: $font-color-gray;
          }
        }

        &[data-button-type=page] {

          &:disabled {
            cursor: not-allowed;
            background: $color-blue;
            color: $font-color-white;
          }

        }

        i {
          color: $color-blue;
          text-align: center;
          font-weight: normal;
          width: $size;
          height: $size;
          line-height: $size - 2px;
          font-size: $font-size-3;
        }

      }

    }

  }

}